{% load static %}

<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="{% static 'css/twitterclone.css' %}">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
  <header>
    <p id="logo">Twitter Clone</p>
    {% if request.user.is_authenticated %}
    <ul class="top">
      <li>
        <a href="{% url 'accounts:logout' %}">
          <button type="button" class="topbuttons whiteback">Logout</button>
        </a>
      </li>
      <li id="usericon">{{ user }}</li>
    </ul>
    {% else %}
    <ul class="top">
      <li>
        <a href="{% url 'accounts:login' %}">
          <button type="button" class="topbuttons whiteback">ログイン</button>
        </a>
      </li>
      <li>
        <a href="{% url 'accounts:signup' %}">
          <button type="button" class="topbuttons blueback">登録</button>
        </a>
      </li>
    </ul>
    {% endif %}
  </header>
  {% block content %}
  {% endblock %}
</body>

</html>
